BasedOnStyle: Chromium                      # Базовый стиль форматирования
IndentWidth: 4                              # Количество пробелов для отступов
AccessModifierOffset: -4                    # Отступ для модификаторов доступа (public, private)
IncludeBlocks: Merge
AllowShortBlocksOnASingleLine: false        # Запретить однострочные блоки
AllowShortFunctionsOnASingleLine: None      # Запретить однострочные функции
AllowShortIfStatementsOnASingleLine: false  # Запретить однострочные if
AllowShortLoopsOnASingleLine: false         # Запретить однострочные циклы

QualifierAlignment: Left
SeparateDefinitionBlocks: Always
EmptyLineAfterAccessModifier: Never

InsertBraces: true
InsertNewlineAtEOF: true                    # Добавлять пустую строку в конце файла

BinPackArguments: false                     # Оставлять аргументы вызова функции на одной строке, если влезают
BinPackParameters: false                    # То же самое для параметров функций
ColumnLimit: 100                            # Максимальная длина строки, после которой можно переносить
AlignAfterOpenBracket: Align                # Выравнивание аргументов при переносе